/** The option list should not be visible by default */
.search-input__search {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-top-color: rgb(219, 219, 219);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(219, 219, 219);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(219, 219, 219);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(219, 219, 219);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.285em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
    vertical-align: top;
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;

}
.search-input__select {
    display: block;
    padding-left: 0.75em;
    width: 25%;
}

    /** If it's a multiple select, you can style it with this selector */
    .search-input--multiple .search-input__select {

    }

    /** The list receives the modifier class "display" when the select has focus */
    .search-input__select--display {
    }

/** UL with the options */
.search-input__options {
    height: 20vh;
    overflow-y: scroll;
    position: absolute;
    top: 3em;
}

/** The option (LI), look at the state classes below */
.search-input__option {

}

    /** When the option has been selected */
    .search-input__option--selected {
        background-color: whitesmoke;
    }

    /** When the option is selected (when navigation with the arrow keys, up/down) */
    .search-input__option--hover, .search-input__option:hover {

    }

.space-below {
    padding-bottom: 20vh;
}