.handle-overflow {
  overflow-y: scroll;
  height: 70vh;
}

.is-40-wide {
  width: 40%;
}

.less-margin {
  margin: 1em;
}

.no-padding {
  padding: 0;
}

.sort-beds {
  display: flex;
  justify-content: space-around;
}
