.staff-picture{
  border-radius: 25px;
  border: 5px solid #4CAF50;
  height: 6em;
  width: 6em;
}

.nurse-list {
  overflow: auto;
  max-height: 50vh;
}

.care-aids-list {
  overflow: auto;
  max-height: 50vh;
}