.active {
    display: block;
}

.bathroom {
  background-color: #F5B278;
}

.cancel {
  float: right;
}

.food {

}

.medicine {

}

.options {
  height: 200px;
  width: 100%;
}

.request-category{
  color: white;
  font-size: 100px;
}

.other {

}

.submit {
  color: white;
  height: 100px;
  width: 100%;
}

.textarea {
  font-size: 36px;
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
}
