.auth-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.big-circle {
  border: 3px solid #eee;
  border-radius: 100%;
  font-size: 1.5em;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.complete-button {
  position: absolute;
  top: 2%;
  right: 1%;
}
.complete-button-content {
  display: flex;
  align-items: center;
}

.modal.is-active.auth {
  position: absolute;
  top: 0%;
  width: 100%;
  align-items:center;
  justify-content: center;

  textarea {
    font-size: 14px;
  }
}

.modal .auth-title {
  font-size: 24px;
}

.request-acknowledged-container {
  margin-top:12.5%;
}
