h1.title{
  margin: 25px auto;
}

i.fa.fa-picture-o.patient-avatar::before{
  font-size:75px;
}

i.patient-request{
  font-size:60px;
}

.nurse-station{
  padding:10px;
}

.request-content{
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  background-color:white;
  margin-top:12.5px;
  margin-bottom:12.5px;
  padding-top:12.5px;
  padding-bottom:12.5px;
}

.request-queue{
  border-right: 3px solid #eee;
  min-height: 1vh;
  max-height: 100vh;
  overflow: auto;
  // background-color: #eee;
}

.pending{
  background-color: rgba(255, 221, 87, .1);
  border: 3px solid #ffdd57;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ffdd57;
}

.in-progress{
  background-color: rgba(34, 198, 91, .1);
  border: 3px solid #22C65B;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #22C65B;
}

.request-category-border{
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid white;
  border-radius: 5px;
  width: 6em;
  height: 6em;
}

.assign-staff-box{
  display: flex;
  align-items: center;
  justify-content:center;
  height:6em;
  width: 6em;
  border: 3px dotted grey;
  border-radius: 5px;
}