h1.title{
  margin: 25px auto;
}

i.fa.fa-picture-o.patient-avatar::before{
  font-size:75px;
}

i.patient-request{
  font-size:60px;
}

.nurse-station{
  padding:10px;
}

.request-content{
  // border: 3px solid grey;
  border-radius: 5px;
  background-color:white;
  margin-top:12.5px;
  margin-bottom:12.5px;
  padding-top:12.5px;
  padding-bottom:12.5px;
}

.request-queue{
  min-height: 1vh;
  max-height: 100vh;
  overflow: auto;
  background-color: #eee;
}

// .pending{
//   border: 3px solid #ffdd57;
// }

// .in-progress{
//   border: 3px solid #22C65B;
// }

.request-category-border{
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid white;
  border-radius: 5px;
  width: 6em;
  height: 6em;
}