.big-circle {
  border-radius: 100%;
  font-size: 1.5em;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.complete-button{
  position: absolute;
  top: 2%;
  right: 1%;
}
.complete-button-content{
  display: flex;
  align-items: center;
}

.request-acknowledged-container{
  margin-top:12.5%;
}