.active {
    display: block;
}

.bathroom {
  background-color: #F5B278;
}

.cancel {
  float: right;
}

.active {
  display: block;
}

<<<<<<< HEAD
.food {

}

// .input-field {
//     display: none;
// }

.medicine {

=======
.options {
  height: 200px;
  width: 100%;

>>>>>>> 254a52de896126e8360c34602a1d8631632889c4
}

.request-category{
  color: white;
  font-size: 100px;
}

<<<<<<< HEAD
.other {
  
}
=======
>>>>>>> 254a52de896126e8360c34602a1d8631632889c4

.submit {
  color: white;
  height: 100px;
  width: 100%;
}

.textarea {
<<<<<<< HEAD
    font-size: 36px;
    height: 100%;
    margin-bottom: 20px;
    width: 100%;
}
=======
  font-size: 36px;
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
}
>>>>>>> 254a52de896126e8360c34602a1d8631632889c4
