.assign-staff-box{
  align-items: center;
  border: 3px dotted grey;
  border-radius: 5px;
  display: flex;
  height:6em;
  justify-content:center;
  width: 6em;
  i.fa.fa-user {
    font-size: 4em;
  }
}

h1.title{
  margin: 25px auto;
}

i.fa.fa-picture-o.patient-avatar::before{
  font-size:75px;
}

i.patient-request{
  font-size:60px;
}

p.patient-request{
  font-size:60px;
  display: flex;
}

.patient-request-img{
  height: 1em;
}

.navbar{
  background-color:#757575;
  color: white;
  font-size: 2em;
  height:70px;
  line-height:70px;
}

.emergency-navbar{
  align-items: center;
  background-color:#ff3860;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  height: 2em;
  justify-content:center;
  opacity: 0;
  width: 2em;
  i {
    font-size: 32px;
  }
  &.emergency-active {
    animation: pulse-nav-emergency 1s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
}

@keyframes pulse-nav-emergency {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nurse-station{
  .tile {
    max-height: 90vh;
  }
  &.tile.is-ancestor {
    min-height: 100vh;
  }
  padding:10px;
}

.request-content{
  background-color:white;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  margin-top:12.5px;
  margin-bottom:12.5px;
  padding-top:20px;
}

.in-progress{
  background-color: rgba(34, 198, 91, .1);
  border: 3px solid #22C65B;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #22C65B;
}

.pending{
  background-color: rgba(255, 221, 87, .1);
  border: 3px solid #ffdd57;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ffdd57;
}

.request-category-border{
  align-items:center;
  border: 1px solid white;
  border-radius: 5px;
  display:flex;
  height: 6em;
  justify-content:center;
  width: 6em;
}

.request-queue{
  max-height: 100vh;
  min-height: 1vh;
  overflow: auto;
}

.emergency {

  .assign-staff-box{
    border: 3px dotted
  }

  .title{
    color: #363636;
  }

  animation: pulse 1s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgb(255, 56, 96);
    //transform: rotate(360deg);
  }
}

.nav.nav.navbar.level{
  margin:0;
}

.nav-item{
  font-size:1em;
}

.request-description{
  display: none;
}

.request-description.is-active{
  display: block;
  padding-bottom: 12.5px;
}
