.choices {
  height: 200px;
  margin-bottom: 25px;
  width: 50%;
}

.nice-background {
  // background-image: url('https://images6.alphacoders.com/338/338596.jpg');
  // background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}
