.care-aids-list {
  max-height: 50vh;
  overflow: auto;
}

.nurse-list {
  overflow: auto;
  max-height: 50vh;
}

.staff-picture {
  border: 5px solid #22C65B;
  border-radius: 25px;
  height: 6em;
  width: 6em;
}